.header {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContent {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.mainHeading {
  font-size: 60px;
  font-weight: 400;
}

.subHeading {
  font-size: 18px;
  color: #c5c5c5;
}

.button {
  background-color: #3677ea;
  color: white;
  padding: 14px 20px;
  display: inline-block;
  border-radius: 3px;
  border-radius: 5px;
  margin-top: 25px;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #316bce;
}

.imageOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(5px);
}
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detailWrapper {
  width: 100%;
  background-color: white;
}

.detailContainer {
  max-width: 1940px;
  margin: auto;
  padding: 100px 5%;
}

.detailTagLine {
  font-size: 20px;
  color: #1f1f1f;
}

.detailHeading {
  font-size: 48px;
  color: #1f1f1f;
  font-weight: 400;
}

.darkPara {
  font-size: 20px;
  color: #1f1f1f;
  font-weight: 500;
  margin-top: 15px;
}

.lightPara {
  color: #8d8d8d;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
}

.detailTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detailTopLeft {
  width: 55%;
}

.detailTopRight {
  width: 500px;
  display: flex;
}

.detailImage {
  width: 100%;
  height: auto;
}

.detailBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: flex-start;
}

.detailBottomRight {
  width: 60%;
  padding-top: 50px;
}

.detailBottomLeft {
  width: 500px;
  display: flex;
}

@media screen and (max-width: 1550px) {
  .mainHeading {
    font-size: 50px;
  }
  .subHeading {
    font-size: 15px;
  }
  .header {
    height: 350px;
  }
  .detailHeading {
    font-size: 35px;
  }

  .darkPara {
    font-size: 20px;
  }
  .lightPara {
    font-size: 17px;
  }
  .detailTagLine {
    font-size: 15px;
  }
  .detailTopRight {
    width: 400px;
  }
  .detailBottomLeft {
    width: 400px;
  }
  .detailBottomRight {
    padding-top: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .mainHeading {
    font-size: 40px;
  }

  .subHeading {
    font-size: 14px;
  }
  .header {
    height: 350px;
  }
  .button {
    font-size: 15px;
    padding: 12px 20px;
  }
  .detailContainer {
    padding: 60px 5%;
  }
  .detailHeading {
    font-size: 30px;
  }
  .darkPara {
    font-size: 17px;
  }
  .lightPara {
    font-size: 17px;
  }
  .detailTopRight {
    width: 350px;
  }
  .detailBottomLeft {
    width: 350px;
  }
}

@media screen and (max-width: 1250px) {
  .detailTopRight {
    width: 300px;
  }
  .detailBottomLeft {
    width: 300px;
  }
  .detailBottomRight {
    padding-top: 0;
  }
}

@media screen and (max-width: 950px) {
  .detailTop {
    flex-direction: column;
  }

  .detailTopLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detailTopLeft br {
    display: none;
  }
  .detailTopRight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .detailImage {
    width: 400px;
  }

  .detailBottom {
    flex-direction: column-reverse;
  }
  .detailBottomLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .detailBottomRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .detailBottom {
    margin-top: 50px;
  }
}

@media screen and (max-width: 550px) {
  .mainHeading {
    font-size: 30px;
  }
  .detailContainer {
    padding: 30px 3%;
  }
  .detailTagLine {
    font-size: 13px;
  }
  .detailHeading {
    font-size: 20px;
  }
  .darkPara {
    font-size: 13px;
  }
  .lightPara {
    font-size: 13px;
  }
  .detailImage {
    width: 90%;
  }
  .detailBottom {
    margin-top: 30px;
  }
}
