.header {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContent {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.mainHeading {
  font-size: 60px;
  font-weight: 400;
}

.subHeading {
  font-size: 18px;
  color: #c5c5c5;
}

.button {
  background-color: #3677ea;
  color: white;
  padding: 14px 20px;
  display: inline-block;
  border-radius: 3px;
  border-radius: 5px;
  margin-top: 30px;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #316bce;
}

.imageOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
}
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detailWrapper {
  background-color: white;
  width: 100%;
  padding-bottom: 100px;
}

.detailContainer {
  max-width: 1940px;
  margin: auto;
  display: flex;
  padding: 100px 5%;
  justify-content: space-between;
}

.detailContainerLeft {
  width: 40%;
}
.detailContainerRight {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.detailImage {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

.detailSubHeading {
  color: #1f1f1f;
  font-size: 20px;
}

.detailHeading {
  font-size: 45px;
  font-weight: 400;
  color: #1f1f1f;
  display: block;
}

.swiperContainer {
  padding: 10px 5% !important;
}

.card:hover .cardText {
  text-decoration: underline;
}

.cardImage {
  width: 100%;
  border-radius: 10px;

  height: auto;
}

.tagContainer {
  display: flex;
  padding: 10px 0;
}

.tag {
  margin-right: 15px;
  font-weight: 700;
  color: #898989;
  font-size: 17px;
}

.cardText {
  font-size: 23px;
  color: #1f1f1f;
  font-weight: 600;
  min-height: 80px;
}

.cardButton {
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
  padding: 10px;
  display: inline-block;
  margin-top: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
  position: relative;
}

.cardButton i {
  position: absolute;
  right: 20px;
  transition: all 0.3s ease;
}

.cardButton:hover i {
  right: 15px;
}

@media screen and (max-width: 1550px) {
  .detailHeading {
    font-size: 35px;
  }
  .detailSubHeading {
    font-size: 18px;
  }
  .detailImage {
    width: 80%;
  }
  .mainHeading {
    font-size: 50px;
  }
  .cardText {
    font-size: 19px;
  }

  .tagContainer {
    padding: 5px 0;
  }
  .tag {
    font-size: 15px;
  }
}

@media screen and (max-width: 1350px) {
  .detailContainerLeft {
    width: 55%;
  }
  .detailContainerRight {
    width: 40%;
  }
  .detailHeading {
    font-size: 30px;
  }
  .cardText {
    font-size: 16px;
    font-weight: 600;
  }
  .tag {
    font-size: 13px;
  }
  .cardButton {
    font-size: 15px;
  }
  .mainHeading {
    font-size: 40px;
  }
}

@media screen and (max-width: 1050px) {
  .detailHeading {
    font-size: 23px;
  }
  .detailSubHeading {
    font-size: 15px;
  }
  .detailContainerLeft {
    width: 50%;
  }
  .detailContainerRight {
    width: 50%;
  }
  .cardText {
    min-height: 60px;
  }
}

@media screen and (max-width: 1050px) {
  .detailContainer {
    padding: 50px 5%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .detailContainerRight {
    width: 100%;
    justify-content: center;
  }
  .detailImage {
    width: 400px;
  }
  .detailContainerLeft {
    width: 80%;

    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }
  .detailHeading {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  .detailContainerLeft {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .detailHeading {
    font-size: 23px;
  }
  .detailImage {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .detailHeading {
    font-size: 17px;
  }
  .detailSubHeading {
    font-size: 12px;
  }
}
